@{
    ViewBag.Title = "Express Learn";
}

<div class="jumbotron">
    <h1>Welcome to Express Learn!</h1>
    <p class="lead">Express Learn is an app which allows you to easily and quickly learn a language.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Demo Paragaph 1</h2>
        <p>
            Blablaa demo 1.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Demo Paragraph 2</h2>
        <p>blaaablaaa 2emo 2.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Demo Paragraph 3</h2>
        <p>Blablaaa demo paragraph 3.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>